#This file will have all unnecessary file that're not needed to be uploaded

__pycache__
venv/
.pytest_cache
.dockerignore
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
*.tfstate.backup
ansible/*.pem
ansible/.vagrant/
ansible/roles/
ansible/Vagrantfile
ansible/*md
__init__.py
tests/__pycache__
tests/__init__
*.sha256
Tokens.txt